<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaydenxiao.androidfire">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".app.AppApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".ui.main.activity.SplashActivity"
            android:theme="@style/AppTheme.Launcher">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.news.activity.PhotosDetailActivity"
            android:theme="@style/BaseAppTheme.Trans"
            />
        <activity android:name=".ui.main.activity.MainActivity"/>
        <activity android:name=".ui.news.activity.NewsDetailActivity"/>
        <activity android:name=".ui.news.activity.NewsBrowserActivity"/>
        <activity android:name=".ui.news.activity.NewsPhotoDetailActivity"/>
        <activity android:name=".ui.news.activity.NewsChannelActivity"/>
        <activity android:name=".ui.zone.activity.CircleZoneActivity"/>
        <activity android:name=".ui.zone.activity.CirclePublishActivity"/>
        <activity android:name=".ui.news.activity.AboutActivity"/>
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="57e8e398e0f55ae655000723" >
        </meta-data>
    </application>

</manifest>
